.card{
  border: 0;
}
.notFound svg{
  width:200px;
  height:200px;
  margin-top: 100px;
  opacity: 50%;
}
.card-title{
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 50%;
}
.form-control{
  border-color:#305aa4;
}
